<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "個のエラーが発生しました") %> 保存することが出来ません:</h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>ステータス</th>
      <th>優先順位</th>
    </tr>
    <tr>
      <td><%= form.text_field :title %></td>
      <td><%= form.text_area :content %></td>
      <td><%= form.date_field :end_date %></td>
      <td><%= form.select :status, [["", ""],["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] %></td>
      <td><%= form.select :priority, Task.priorities.keys.map { |k| [t("enum.task.priority.#{k}"), k] } %></td>
    </tr>
  </table>

  <table>
    <tr>
      <th align="left">ラベル</th>
    </tr>
    <tr>
      <td>
        <% Label.all.each do |label| %>
          <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id] %>
          <%= form.label :label_ids, label.title, value: label[:id] %>
        <% end %>
      </td>
    </tr>
  </table>

  <br>

  <%= form.submit %>
<% end %>