<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "個のエラーが発生しました") %> 保存することが出来ません:</h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>

    <tr>
      <td><%= form.text_field :title %></td>
      <td><%= form.text_area :content %></td>
    </tr>
  </table>

  <%= form.submit %>
<% end %>