<h1>タスク詳細</h1>
<p><%= notice %></p>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>ステータス</th>
  </tr>

  <tr>
    <td><%= @task.title %></td>
    <td><%= @task.content %></td>
    <td><%= @task.end_date %></td>
    <td><%= @task.status %></td>
  </tr>
</table>

<br>

<%= link_to 'タスク一覧画面', tasks_path %>
