<h1>ユーザー詳細</h1>

<h3>ユーザー名: <%= @user.name %></h3>
<h3>メールアドレス: <%= @user.email %></h3>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th><%= link_to "終了期限", tasks_path(sort_expired: "true") %></th>
    <th>ステータス</th>
    <th><%= link_to "優先順位", tasks_path(sort_priority: "true") %></th>
    <th>ユーザー名</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td class='task_list'><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.end_date %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= task.user.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'ユーザー一覧画面', admin_users_path %>